.app-container{
  height: 80vh;
}
.body-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: rgb(18, 18, 18);
  height: 500px;
  margin: 0;
} 